<nb-card>
    <nb-card-header style="background-color: black; color: white;">
        <div class="row">
            <div class="col-10">
                <span style="font-size: 1.5em; ">
            <button style="border: none; background: none; "><i style="color: white;" class="fas fa-arrow-left"
                    (click)="gotoBack()"></i></button>

        </span> &nbsp; Fases
            </div>
            <div class="col-2">
                <h3 style="color: white;">
                    <strong>PRESSUPUESTA</strong>
                </h3>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <input [(ngModel)]="textoBuscar" type="text" nbInput fullWidth placeholder="Buscar...">
        <nb-list>
            <nb-list-item *ngFor="let fase of fases | filtro :textoBuscar:'fase'" (click)="gotoConceptos(fase.clave)">
                <nb-user [name]="fase.fase" [title]="fase.especialidad"> </nb-user>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>