<nb-accordion>
    <nb-accordion-item *ngFor="let avance of avances">
        <nb-accordion-item-header>
            Fase {{ avance.id_avance }}&nbsp;
            <strong>({{ avance.porcentaje }}%)</strong>
        </nb-accordion-item-header>
        <nb-accordion-item-body style="background-color: rgb(194, 199, 199);">
            <div class="row">
                <div class="col" *ngFor="let item of avance.elemento">
                    <nb-card (click)="gotopage(item.item)" accent="info" style="max-width:300px; max-height: 200;min-width: 250;">
                        <nb-card-header>
                            {{item.item}} - {{item.elemento}}-
                            <div class="caption ">Progreso: {{ item.progreso }}%</div>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="col ">{{ item.descripcion }}</div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>